h2{
    /*
        Definir a cor do texto usando RGB
        R = 0...255
        G = 0...255
        B = 0...255
    */
    color:rgb(176, 46, 215);
}

body{
    background-color:rgb(106, 194, 232);
}

p{
    color:rgb(253, 245, 0);
}