/*CSS Reset*/
body{
    background-color:rgb(106, 194, 232);
    margin: 0;
    padding: 0;
}

h2{
    /*
        Definir a cor do texto usando RGB
        R = 0...255
        G = 0...255
        B = 0...255
    */
    color:rgb(176, 46, 215);
}

div {
    background-color:rgb(255, 0, 251);
}

p{
    color:rgb(253, 245, 0);
}

a{
    
    color:rgb(0, 0, 253);
    /* text-decoration altera a decoração do texto none faz com que o texto não
    tenha nenhuma decoração*/
    text-decoration: none;
    padding: 8px;

}

a:hover{
    color: rgb(242, 255, 0);
}
